

/* THE BELLOW CODE GETS RID OF THE BACKGROUND IF PUT BEFORE THE BODY; IF PUT AFTER IT CHANGES NOTHING */
/* .jumbotron {
margin-top: 25px;
margin-left: 50px;
margin-right: 50px;
}; */

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url("./assets/images/marvel-logo.jpg");   
    background-repeat: repeat; 
};  

.carousel{  
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
    max-width: none;
};

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
};

.music {
    float: right;
    margin-top: 250px;
};